body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2; /* warna latar */
    color: #333; /* warna teks */
    text-align: center;
}

h1 {
    color: #ff66b2; /* warna teks judul */
}

h2 {
    color: #fa3fe1; /* warna teks judul */
    font-size: 200%;
}

h3 {
    color: #fa3fe1; /* warna teks judul */
    font-size: 200%;
}


button {
    background-color: #ff66b2; /* warna tombol */
    color: white; /* warna teks tombol */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6666;
}

button:focus {
    outline: none;
}
.sticker {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

@media screen and (orientation: portrait) {
    iframe,
    object,
    embed {
      width: 100%;
      height: 100%;
    }
  }